
<ion-content>
  <div class="brand-container">
    <img class="sneaker-pic" src="assets/sneakerlogo.png" />
  </div>
  <div class="login-container">
    <ion-item class="account-container">
      <ion-label>Account</ion-label>
      <ion-input type="email" autocomplete="on" autofocus="true"></ion-input>
    </ion-item>
    <ion-item class="password-container">
      <ion-label>Password</ion-label>
      <ion-input type="password" autocomplete="on" autofocus="true"></ion-input>
    </ion-item>
    <div class="button-container">
      <ion-button href="/tabs/tab1">Login</ion-button>
    </div>
  </div>
</ion-content>