.brand-container {
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Fredoka', sans-serif;
}
.sneaker-logo {
    width: 50px;
    height: auto;
}
.navbar {
    display: flex;
    justify-content: center;
    background-color: #e9c46a;
}
