<nav class="navbar">
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-title>Example Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main">
    <ion-menu-button>
    </ion-menu-button>
  </div>
  <div class="brand-container">
    <p>SneakySneaker</p>
    <img class="sneaker-logo" src="./assets/sneakerlogo.png" />
  </div>
</nav>