
ion-content{
  --background: white;
  --color: black;
  font-family: 'Fredoka', sans-serif;
}
ion-fab-button {
  --border-radius: 5px;
  width: 80px;
  height: 40px;
  margin:auto;
}
ion-slides{
  height:150px;
  margin-top: 10px;
  margin-bottom: 10px;
}
ion-input{
    border-bottom: 1px solid black;
}
#tab2-background{
  background-color: white!important;
}
.sneaker-logo{
    width:50px;
    height:auto;
}
.brand-container {
    display: flex;
    color: black;
    font-family: 'Fredoka', sans-serif;
    background-color: #e9c46a;
    padding-left: 10px;
}
