<ion-header class="header" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="setting-list">
    <ion-item>
      <ion-avatar slot="start">
        <img src="" />
      </ion-avatar>
      <ion-label>
        <h2>Profile</h2>
        <p>Edit your Password, Name, Shoe Size, Email, Username</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="" />
      </ion-avatar>
      <ion-label>
        <h2>Security</h2>
        <p>Two-step verification</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="" />
      </ion-avatar>
      <ion-label>
        <h2>Buying</h2>
        <p>Active Bids, In-progress, Completed Orders.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="" />
      </ion-avatar>
      <ion-label>
        <h2>Following</h2>
        <p>Products you're watching</p>
      </ion-label>
    </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="" />
    </ion-avatar>
    <ion-label>
      <h2>Settings</h2>
      <p>Billing, Shipping, Payout, Notifications</p>
    </ion-label>
  </ion-item>
  </ion-list>
</ion-content>